body {
  font-family: 'BLKCHCRY';
  font-size: 30px;
}

.back, .mainDesc {
  text-align: center;
}

#addButton {
  color: rgb(29, 191, 40);
  width: 10em;
  height: 4em;
}

#updateButton {
  color: rgb(45, 132, 195);
  width: 10em;
  height: 4em;
}

.mainHeader {
  font-size: 30px;
  font-style: italic;
  text-align: center;
}

.postMembers, .putMembers {
  font-size: 20px;
  text-align: center;
  color: rgb(93, 37, 12);
}
