body {
  font-family: 'BLKCHCRY';
  font-size: 30px;
}

.mainDesc, .back {
  text-align: center;
}

.authMembers {
  font-size: 20px;
  text-align: center;
  color: rgb(93, 37, 12);
}

#authButton {
  width: 5em;
  height: 2em;
}
