#logo {
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

body {
	font-family: 'BLKCHCRY';
	font-size: 30px;
}

h1, .back {
	text-align: center;
}

#sections {
	padding: 0px;
	margin-bottom: 40px;
}

#sections > li {
	text-align: center;
	list-style: none;
	padding: 0px;
	color: darkblue;
}

/*
<style type="text/css">
   when @font-face is defined(it is in font.css) you can add the font to any rule by using font-family
  h1 {
    font-family: 'BLKCHCRY';
  }
</style>
*/
