body {
  font-family: 'BLKCHCRY';
  font-size: 30px;
}

.name {
  font-style: italic;
  color: red;
}

#deleteButton {
  width: 10em;
  height: 4em;
  color: rgb(204, 57, 24);
}

#updateButton {
  width: 10em;
  height: 4em;
  color: rgb(45, 132, 195);
}

.back, .deleteMembers, .updateMembers {
  text-align: center;
}

img {
  margin-top: 5px;
}

.imgMembers {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 35%;
}
