<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>About</title>
</head>

<body>
  <h2 class="page-header">Contact information:</h2>
  <p><b>Name</b>: Sergey Romanyuk</p>
  <p><b>E-mail</b>: lunnuymag@gmail.com</p>
  <p><b>About</b>: This site contains info about some of the creator's favourite musical bands. Check them out!</p>

  <!-- <script src="js/scripts.js"></script> -->
</body>

</html>
