<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>About</title>
  <meta name="description" content="About">

  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="stylesheet" href="stylesheets/font/font.css">
</head>

<body>
  <h1>Contact information:</h1>
  <p><b>Name</b>: Sergey Romanyuk</p>
  <p><b>E-mail</b>: lunnuymag@gmail.com</p>
  <p><b>About</b>: This site contains info about some of the creator's favourite musical bands. Check them out!</p>

  <div class="back">
    <a href="/">Back</a>
  </div>

  <!-- <script src="js/scripts.js"></script> -->
</body>

</html>
