<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The Bands</title>
  <meta name="description" content="The Bands">
  <meta name="author" content="Sergey Romanyuk">

  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>

<body>
  <h1 class="page-header text-center">The Bands Site</h1>
  <img class="img-responsive center-block" alt='logo' src="images/index.jpg" />
</body>
</html>
