<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Login</title>
  <link rel="stylesheet" href="/stylesheets/auth.css">
  <link rel="stylesheet" href="/stylesheets/font/font.css">
</head>

<body>
  <p class ="mainDesc">Account Login</p>
  <div class="authMembers">
    <form action="/users/login" method="POST">
      Username:<br>
      <input type="text" name="username"><br>
      Password:<br>
      <input type="password" name="password"><br>
      <br>
      <input type="submit" id="authButton" value='Login' /><br>
      <br>
    </form>
  </div>

  <!-- <script src="js/scripts.js"></script> -->
</body>

</html>
