<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Register</title>
  <link rel="stylesheet" href="/stylesheets/auth.css">
  <link rel="stylesheet" href="/stylesheets/font/font.css">
</head>

<body>
  <p class ="mainDesc">Register</p>
  <div class="authMembers">
    <form action="/users/register" method="POST">
      Name:<br>
      <input type="text" name="name"><br>
      Username:<br>
      <input type="text" name="username"><br>
      E-mail:<br>
      <input type="email" name="email"><br>
      Password:<br>
      <input type="password" name="password"><br>
      Confirm Password:<br>
      <input type="password" name="repassword"><br>
      <br>
      <input type="submit" id="authButton" value='Register' /><br>
      <br>
    </form>
  </div>

  <!-- <script src="js/scripts.js"></script> -->
</body>

</html>
